
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    background-color: cadetblue;
}

/* color variables */


/* group selectors */

a:visited, a:active{
    text-decoration: none;
    color: rgb(223, 223, 223);
}

a{
text-decoration:none;
background-color: transparent;
}

h2{
margin-top: 20px;
margin-bottom: 10px;
margin-left: 20px;

}
body{
    height: 100%;
    position:relative;

}

img{

    display:flex;
    align-content: space-around;
    
     }

li{

    padding: .5em;
}

 footer{
     align-items:center;
 }



/* Nav bar */

.mywebsite-container
{
    display: flex;
    justify-content: space-between;
    position: sticky;
    box-shadow: 0px 0.1px 6px rgba(245, 245, 245, 0.69);
    top: 0;
}
.mywebsite{
display:flex;
justify-content: center;
align-items: center;
}
.port {
        color: rgb(158, 120, 50);

    }
.fol{
color:gainsboro;

}

.nav-box{
    display:flex;
    padding: .5em; 
}


.nav{
    
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
}
.nav li{
    
    display:inline-flex;
    flex: 1 1 10%;
    border-radius: 10px;
    justify-content:space-around;
    margin-top: 0px;
    margin-right: 5px;
    background-color: transparent;
}
.box1 , .box2 , .box3 {
text-decoration: none;
font-size: 1.2rem;
text-align: center;
transition-duration: 0.35s;


}

.box1:hover, .box2:hover, .box3:hover{

background-color:rgba(146, 207, 154, 0.532);
box-shadow: 1px 1px 10px rgba(165, 165, 165, 0.568);
color:rgb(175, 175, 175);
}






/* New Website */

.about-me-text{
padding: 20px;

}

.projects-container{
    display:flex;
    flex-direction: column;
}

.projects-title-container{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}

.projects-title{
    display:flex;
    justify-content: space-between;
}

.image-box{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 3em;
}

.project-card {
    display: flex;
    margin: auto;
    background-color: white;
    padding: 3px;
    box-shadow: 1px 0px 15px 9px grey;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: 0.4s;
    }

.project-card:hover{
box-shadow: 1px 0px 15px 9px whitesmoke;
}

.project-text{
        display:flex;
        flex-wrap:wrap;
        align-content:center;
        justify-content: center;
        max-width: 100%;
        margin-top: 20px;
    }

.contactme {
    text-align:center;

}

.copyright-container{ 
    display:flex;
    justify-content: center;
    position: static;
    bottom: 0;
    margin-top: 10px;
    padding: 0;
    background-color: none;

}
#copyright{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    text-align:center;
    margin: auto;
    bottom: 0;
    background-color: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}


/*
@media screen and (max-width: 400px){
    .nav, , .contactme, .nav, .copyright
{
display:flex;
flex-wrap:wrap;
width: 100%;
flex-wrap:wrap;
align-items:center;
}
 
}

*/



